div, nav, headr, section, article, footer {
    /* border: .1rem solid black; */
}

a:hover {
    color: black !important;
	font-size: 110%;
	transition: color 1s, font-size 1s;
}
button:hover {
	color: white !important;
	background-color: black;
	transition: color 1s, background-color 1s;
}
img:hover {
	transform: rotate(5deg) scale(1.1);
	transition: .3s ease-in-out;
}

body {
	text-align: center;
	line-height: 1.618rem;
}
#scroll-container {
	height: 100vh;
	overflow-y: scroll;
  	scroll-behavior: smooth;
}
#scroll-container div{
	position: relative;
	height: 100vh;
}
#scroll-container div section{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
h1, h2, h3, a, input, button {
	font-family: 'Raleway', sans-serif;
}
p {
	font-family: 'Lato', sans-serif;
}

.bgImage {
	width: 100vw;
	height: 100vh;
	background-image: url("../images/home_header_bg.jpg");
    background-repeat: no-repeat;
	background-attachment: fixed;
	background-position:center top;
	/* background-size: contain; */
	/* z-index: -3; */
}

.centerContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	/* position: fixed; */
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 2;
}

header nav {
	background-color: white;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
    align-items: center;
}
header nav ul{
	width: 100%;
	margin: auto;
}
.navFlex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: space-around;
}
.navFlex li {
	margin: 0 1vh;
}
.navFlex li a{
	color: aquamarine;
}
.burgerDisplay {
	display: none;
}
.smallNavFlex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	list-style-type: none;
}
.smallNavFlex li {
	margin: 0 1vh;
}
.smallNavFlex li a{
	color: aquamarine;
}

/* ======================================================================= */

section {
	background-color: white;
	margin: 5vh 0;
}
.section1Flex {
	display: flex;
	justify-content: space-between;
}
.section1ArticleFlex {
	margin: 0 1vw;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.section1ArticleFlex img {
	margin: 1vw 0;
	width: 20em;
	align-self: center;
}
.section1ArticleFlex h3 {
	margin: 1vw 0;
	width: 10em;
	align-self: center;
}
.section1ArticleFlex p {
	margin: 1vw 0;
}
.section1ArticleFlex button {
	margin: 1vw 0;
	width: 8em;
	align-self: center;
}
.section2 {
	background-color:lightskyblue;
}
.section2Article {
	width: 40vw;
	margin: 10vh auto;
}
.section2Article h3 {
	margin-bottom: 5vh;
}
.section3GalleryRow {
	width: 50vw;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}
/* flex item width */
.section3GalleryColumn {
	max-width: 33.3%;
	padding: 1em;
}
/* auto size image */
.section3GalleryColumn img{
	width: 100%;
	height: auto;
	margin-top: 1em;
}


/* ======================================================================= */

.comment {
	margin: 5em auto;
	width: 80%;
	text-align: center;
}
.grid-container {
	display: grid;
	grid-template-rows: 1fr auto auto;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 1em;
}
.grid-item {
	border: .1rem solid black;
}
.grid-name {
	grid-row: 1 / span 1;
	grid-column: 1 / span 1;
	padding: 1em;
}
.grid-email {
	grid-row: 1 / span 1;
	grid-column: 2 / span 1;
	padding: 1em;
}
.grid-subject {
	grid-row: 1 / span 1;
	grid-column: 3 / span 1;
	padding: 1em;
}
.grid-message {
	grid-row: 2 / span 1;
	grid-column: 1 / span 3;
	padding: 1em;
}
.grid-submit {
	grid-row: 3 / span 1;
	grid-column: 1 / span 3;
	padding: 1em;
}

footer {
	background-color: aquamarine;
}
#footerNavFlex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
#footerNavFlex li {
	margin: 0 1vh;
}
#footerNavFlex li a {
	color: black;
}
.footerInput {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 1em;
}
.footerInput input {
	margin: 1em;
}
.footerInput button {
	margin: 1em;
}
footer p {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	border-top: .1rem solid black;
}
@media screen and (max-width: 600px) {
    .navFlex {
		display: none;
	}
    .burgerDisplay {
		display: block;
    }
    .grid-container {
		display: -ms-grid;
		display: grid;
		-ms-grid-rows: 1fr 1fr 1fr auto auto;
		grid-template-rows: 1fr 1fr 1fr auto auto;
		-ms-grid-columns: 1fr;
		grid-template-columns: 1fr;
		grid-gap: 1em;
	}
	.grid-name {
		-ms-grid-row: 1;
		grid-row: 1;
		-ms-grid-column: 1;
		grid-column: 1;
		padding: 1em;
	}
	.grid-email {
		-ms-grid-row: 2;
		grid-row: 2;
		-ms-grid-column: 1;
		grid-column: 1;
		padding: 1em;
	}
	.grid-subject {
		-ms-grid-row: 3;
		grid-row: 3;
		-ms-grid-column: 1;
		grid-column: 1;
		padding: 1em;
	}
	.grid-message {
		-ms-grid-row: 4;
		grid-row: 4;
		-ms-grid-column: 1;
		grid-column: 1;
		padding: 1em;
	}
	.grid-submit {
		-ms-grid-row: 5;
		grid-row: 5;
		-ms-grid-column: 1;
		grid-column: 1;
		padding: 1em;
	}
	.footerInput {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		margin: .25em;
	}
	.footerInput input {
		margin: .25em;
	}
	.footerInput button {
		margin: .25em;
	}
	.section1Flex {
		flex-direction: column;
	}
	.section3GalleryRow {
		width: 100vw;
		flex-direction: column;
		align-items: center;
	}
}